<!DOCTYPE html>
<html lang="en">
  1<head>
    <meta charset="utf-8">
    <title>Equipes da Computação</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <header>
        <h1>Bem-vindo ao Gerenciamento de Jogos</h1>
    </header>




    
    <nav>
        <ul>
            <li><a href="/index">Início</a></li>
            <li><a href="/Equipes">Equipes</a></li>
            <li><a href="/Calendario">Calendario</a></li>
            <li><a href="/Resultado">Resulatado</a></li>
        </ul>
    </nav>
    <p>Equipas da Computação</p>
  </body>
</html>