<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <header>
        <h1>Bem-vindo ao Gerenciamento de Jogos</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/index">Início</a></li>
            <li><a href="/Equipes">Equipes</a></li>
            <li><a href="/Calendario">Calendario</a></li>
            <li><a href="/Resultado">Resulatado</a></li>
        </ul>
    </nav>
    <p> Os Juvs só será realizado em 2024.</p>
    <p> Em breve teremos actualização </p>
    <p>Obrigado pela atenção dispençada</p>
    <footer>
      <p>&copy; 2023 Gerenciamento de Jogos</p>
  </footer>
  </body>
</html>