<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Equipes</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <header>
        <h1>Bem-vindo ao Gerenciamento de Jogos<img src="static/image/juvs.jpg" alt="Paulo Bumba" width="50" height="20"></h1>
    </header>

    <nav>
        <ul>
            <li><a href="/index">Início</a></li>
            <li><a href="/Equipes">Equipes</a></li>
            <li><a href="/Calendario">Calendario</a></li>
            <li><a href="/Resultado>">Resultado</a></li>
        </ul>
    </nav>

    <h2>Equipes no presentes no Juvs </h2>
    
    
    
        
        <ul>
                <li><a href="/Computação">Equipe da Computação</a></li>
                <li><a href="#">Equipe da Contabeis</a></li>
                <li><a href="#">Equipe da Ed.Física</a></li>
                <li><a href="#">Equipe da Pedagogia</a></li>
                <li><a href="#">Equipe da Bio-Medicina</a></li>
                <li><a href="#">Equipe da Arquitetura</a></li>
                
        </ul>
        
    
    <footer>
        <p>&copy; 2023 Gerenciamento de Jogos</p>
    </footer>

    
  </body>
</html>