<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Gerenciamento de Jogos<img src="static/image/juvs.jpg" alt="Paulo Bumba" width="60" height="20"></h1>
    </header>
    <h2>Login</h2>
    <form method="GET" action="{{ url_for('autenticar') }}">
        <label for="email">E-mail:</label>
        <input type="text" name="usuario" required><br>

        <label for="cpf">CPF:</label>
        <input type="password" name="senha" required><br>

        <input type="submit" value="Entrar">
    </form>
    <p>Não  tem uma conta? <a href="{{ url_for('Registro') }}">Faça o registro aqui</a>.</p>
    <footer>
        <p>&copy; 2023 Gerenciamento de Jogos</p>
    </footer>
</body>
</html>