<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>title</title>
  </head>
  <body>
    <header>
        <h1>Bem-vindo ao Gerenciamento de Jogos<img src="static/image/juvs.jpg" alt="Paulo Bumba" width="50" height="200"></h1>
    </header>
    <h2>dados invalido</h2>
    <p>"Usuário já registrado. Escolha outro nome de usuário."</p>
    <p>Click aqui para fazer o login <a href="/login">login</a></p>
    <footer>
        <p>&copy; 2023 Gerenciamento de Jogos</p>
    </footer>
  </body>
</html>