<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <header>
        <h1>Bem-vindo ao Gerenciamento de Jogos<img src="static/image/juvs.jpg" alt="Paulo Bumba" width="50" height="20"></h1>
    </header>

    <nav>
        <ul>
            <li><a href="/index">Início</a></li>
            <li><a href="/Equipes">Equipes</a></li>
            <li><a href="/Calendario">Calendario</a></li>
            <li><a href="/Resultado">Resultado</a></li>
        </ul>
    </nav>

    <p> Os resultados do Juvs Você pode assistir pelo Youtube segui o link abaixo</p>
    <a href="https://www.youtube.com/@accpuv/streams" target="_blank">viste o canal do youtube</a>
  </body>
</html>