<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <title>Apex2033</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <header>
        <h1>Bem-vindo ao Gerenciamento de Jogos<img src="static/image/juvs.jpg" alt="Paulo Bumba" width="60" height="20"></h1>  

    </header>

    <nav>
        <ul>
            <li><a href="/index">Início</a></li>
            <li><a href="/Equipes">Equipes</a></li>
            <li><a href="/Calendario">Calendario</a></li>
            <li><a href="/Resultado">Resultado</a></li>
        </ul>
    </nav>
    <p>O projeto sobre gerenciamente de Jogo é um micro exemplo naquelo que tange ao site para gerencimento de jogos
        a ideia de antemão seria implementação de ChatBox para haver intercambios com todos Usuario.
    </p>
    <p></p>Os jogos seriam actualizado  em tempo pelo usuario e também a implementação de JavaScrits para mais interação o Presente Projeto
      foi desenvolvido pelo Estudantes:</p>
    
    <ul>
        <li><a href="#">Paulo Bumba</a></li>
        <li><a href="#">Weslen Filipe</a></li>
        <li><a href="#">Samuel Ribeiro</a></li>
        <li><a href="#">Leonardo Zonta</a></li>
        <li><a href="#">Alexandre Ribeiro</a></li>
    </ul>
    <img src="static/image/Paulo.jpg" alt="Paulo Bumba" width="200" height="200">
    <img src="static/image/Wesley.jpg" alt="Paulo Bumba" width="200" height="200">
    <img src="static/image/Coxa.jpg" alt="Paulo Bumba" width="200" height="200">
    <img src="static/image/samel.jpg" alt="Paulo Bumba" width="200" height="200">
    <img src="static/image/zonta.jpg" alt="Paulo Bumba" width="200" height="200">

    <h1> Contatos </h1>
    
    </P>Para Contatos você pode entrar no Endereço eletrocino do nosso estudante  email<a href="maito:paulomvbumba@gmail.com"></a></p>
    <footer>
        <p>&copy; 2023 Gerenciamento de Jogos</p>
    </footer>
  
  
  </body><>