<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <header>
        <h1>Bem-vindo ao Gerenciamento de Jogos</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/index">Início</a></li>
            <li><a href="/Equipes">Equipes</a></li>
            <li><a href="/Calendario">Calendario</a></li>
            <li><a href="/Resultado">Resulatado</a></li>
        </ul>
    </nav>
    <p>O projeto sobre gerenciamente de Jogo é um micro exemplo naquelo que tange ao site para gerencimento de jogos
        a ideia de antemão seria implementação de ChatBox para haver intercambios com todos Usuario.
    </p>
    <p>Cadastrar a cada usuario dentro dentro do Banco de Dados.</p>
    <p></p>Os jogos seriam actualizado  em tempo pelo usuario e também a implementação de JavaScrits para mais interação o Presente Projeto
      foi desenvolvido pelo Estudantes:</p>
    <ul>
        <li><a href="#">Paulo Bumba</a></li>
        <li><a href="#">Weslen Filipe</a></li>
        <li><a href="#">Samuel Ribeiro</a></li>
        <li><a href="#">Leonardo Zonta</a></li>
        <li><a href="#">Alexandre Ribeiro</a></li>
    </ul>
    <h1> Contatos </h1>
    <p>Para Contatos você pode entrar no Endereço eletrocino do nosso estudante  email</p>
    <footer>
        <p>&copy; 2023 Gerenciamento de Jogos</p>
    </footer>
  
  
</html>